<!DOCTYPE html>
<html>

<head>
    <title>Login Page</title>
    <link rel='stylesheet' type='text/css' href='./css/login.css'>
</head>

<body>
    <div class='login-box'>
        <h1>AssetManager</h1>
        <form>
            <label for='email'>Email</label>
            <input id='email' type='text' name='email' placeholder='Enter Email'>
            <label for='password'>Password</label>
            <input id='password' type='password' name='password' placeholder='Enter Password'>
            <input type='submit' value='Login'>
            <p>Don't have an account? <a href='signup'>Sign up</a></p>
        </form>
    </div>
</body>
<script src='./js/login.js'></script>

</html>