<!DOCTYPE html>
<html>

<head>
    <title>OOPS!</title>
    <link rel='stylesheet' type='text/css' href='/css/oops.css'>
</head>

<body>
    <div class='oops-box'>
        <h1>AssetManager</h1>
        <h3>Oops! <%= message%></h3>
    </div>
</body>

</html>