:root {
    --background-color1: #231D29;
    --background-color2: #2B2732;
    --background-color3: #A6A6A6;
    --background-color4: #38343C;

    --primary-color: #EBEAEB;
    --secondary-color: #5AC8F5;
    --secondary-color-tetr1: #F68759;
    --tertiary-color: #FF453A;
    --complementing-color: #F5D55A;

    --Border-color: #A6A6A6;
    --one-use-color: #33613F;
    --two-use-color: #3F5C72;
    --healthy-color: #216825;
}